[alias]
  # Amend the currently staged files to the latest commit
  amend = commit --amend --reuse-message=HEAD

  # Append any staged files onto the most recent commit.
  commend = commit --amend --no-edit

  # Custom log formats
  ll = !git --no-pager log --graph --all --decorate --pretty=format:'%C(auto)%h%d  %ad %C(red bold)(%ar%C(red bold))%Creset  %Creset%C(magenta)%an %Creset<%ae>  %C(white bold)%<(80,trunc)%s' --date=iso
  l = !git log -n 25 --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(blue bold)<%an>%Creset'

  # Show verbose output about tags, branches or remotes
  branches = branch -av
  remotes = remote -v

  # Remove branches that have already been merged with master
  # a.k.a. ‘delete merged’
  dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

  # Forcepush, but fail if the remote has been updated since you last pulled.
  # Prevents clobbering other people's commits on the same branch unless you really, really want to.
  forcepush = push --force-with-lease
  please = push --force-with-lease --force-if-includes

  # We wanna grab those pesky un-added files!
  stash-all = stash save --include-untracked

  # reset
  unstage = reset HEAD              # remove files from index (tracking)
  uncommit = reset --soft HEAD^     # go back before last commit, with files in uncommitted state

[apply]
  # detect whitespace errors when applying a patch
  whitespace = warn

[core]
  # Default editor for commit messages and other inputs
  # Even when EDITOR is set to something else
  editor = vim

  # Make `git rebase` safer on OS X
  # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
  trustctime = false

  # Prevent showing files whose names contain non-ASCII symbols as unversioned.
  # http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
  precomposeunicode = false

  # Enable the filesystem cache (for git bash | windows)
  fscache = true

  # default branch name.
  defaultBranch = main

[push]
  autoSetupRemote = true

[user]
  name = FatBat

[github]
  username = fatbattk
